body{
    margin: 0;
    height: 100vh;
    border: 2px solid red;
    box-sizing: border-box;
}




a {
    border: 2px solid green;
    padding: 8px 30px;
}





header {
    display: flex;
    justify-content: center;
    border: 2px solid blue;
    padding: 15px;

}